name: Tailscale Ping Test

on:
  push:
    branches:
      - testing

jobs:
  ping-test:
    runs-on: windows-latest

    steps:
    - name: Connect to Tailscale
      uses: tailscale/github-action@v4
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY_L }}
        tags: tag:ci
        ping: 100.72.7.120

    - name: Ping private machine
      run: |
        ping -n 4 100.72.7.120
