name: Tailscale CI

on:
  push:
    branches:
      - testing

jobs:
  connect-tailscale:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Tailscale
        uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          tags: tag:ci
          version: latest
          ping: PTPL-281.my-tailnet.ts.net

      - name: Verify Tailscale connection
        run: |
          tailscale status
          tailscale ping 100.72.7.120.my-tailnet.ts.net

      - name: Example task
        run: |
          echo "Tailscale is connected and ready!"