name: Tailscale CI

on:
  push:
    branches:
      - testing

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TS_AUTH_KEY }}
          tags: tag:ci

      - name: Ping another node
        run: tailscale ping my-other-node.my-tailnet.ts.net
