name: WireGuard VPN Client Test (Ubuntu)

on:
  push:
    branches:
      - testing
  workflow_dispatch:

jobs:
  wireguard_example:
    runs-on: ubuntu-latest
    steps:
      - name: Install WireGuard
        run: |
          sudo apt update
          sudo apt install -y wireguard

      - name: Create wg-quick config
        run: |
          sudo mkdir -p /etc/wireguard
          sudo tee /etc/wireguard/wg0.conf > /dev/null <<EOF
          [Interface]
          PrivateKey = ${{ secrets.WIREGUARD_PRIVATE_KEY }}
          Address = 192.168.100.2/24
          DNS = 8.8.8.8,1.1.1.1

          [Peer]
          PublicKey = ${{ secrets.WIREGUARD_SERVER_PUBLIC_KEY }}
          Endpoint = 114.143.100.202:51820
          AllowedIPs = 0.0.0.0/0
          PersistentKeepalive = 25
          EOF

          sudo chmod 600 /etc/wireguard/wg0.conf

      - name: Bring up WireGuard
        run: sudo wg-quick up wg0

      - name: Test connectivity
        run: curl -vvv http://192.168.1.1

      - name: Tear down WireGuard
        if: always()
        run: sudo wg-quick down wg0
