name: CI with Tailscale

on:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect GitHub VM to Tailnet
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: tag:ci
          ping: 100.72.7.120.my-tailnet.ts.net
          version: latest

      - name: Show Tailscale IP
        run: |
          tailscale ip -4
          tailscale status

      - name: Use ptpl 281
        run: |
          # Example test
          nc -vz 100.72.7.120.my-tailnet.ts.net 281
